// Quicksand
@font-face {
	font-family: 'Quicksand';
	src:
		url('./Quicksand/Quicksand-Regular.woff') format('woff'),
		url('./Quicksand/Quicksand-Regular.ttf') format('truetype'),
		url('./Quicksand/Quicksand-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Quicksand';
	src:
		url('./Quicksand/Quicksand-Bold.woff') format('woff'),
		url('./Quicksand/Quicksand-Bold.ttf') format('truetype'),
		url('./Quicksand/Quicksand-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

// Montserrat
@font-face {
	font-family: 'Montserrat';
	src:
	 	url('./Montserrat/Montserrat-Regular.woff') format('woff'),
	 	url('./Montserrat/Montserrat-Regular.ttf') format('truetype'),
		url('./Montserrat/Montserrat-Regular.svg') format('svg')		;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src:
	 	url('./Montserrat/Montserrat-Bold.woff') format('woff'),
	 	url('./Montserrat/Montserrat-Bold.ttf') format('truetype'),
		url('./Montserrat/Montserrat-Bold.svg') format('svg')		;
	font-weight: bold;
	font-style: normal;
}

// @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic-ext');
