// base
@import 'assets/fonts/fonts.scss';
@import 'components/base/header/header.scss';
@import 'components/base/main/main.scss';

// blocks
@import 'components/logo/logo.scss';
@import 'components/colors/colors.scss';
@import 'components/type/type.scss';
@import 'components/navigation/nav.scss';
@import 'components/nav-bar/nav-bar.scss';

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}
.indent {
  margin-top: 40px;
}

.borders {
  border: dashed 1px green;
}
