.content-wrapper_two-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
// отступ по бокам
.side-indent {
  padding-left: 140px;
  padding-right: 140px;
}
// Colors
.colors_wrapper {
  display: flex;
  flex-direction: column;
  // padding-top: 5px;
  padding-left: 10px;
}
.colors_wrapper > .colors {
  padding-top: 20px;
}
.colors_wrapper > .colors:first-child {
  padding-top: 0px;
}
// Type
.type-wrapper {
  padding-right: 51px;
  // padding-top: 5px;
}
.type-wrapper > .type {
  padding-top: 50px;
}
.type-wrapper > .type:first-child {
  padding-top: 0px;
}
.type-wrapper > .type:last-child {
  padding-top: 47px;
}