  
.colors
  .colors__squares.colors__squares_shade100
  .colors__text
    .colors__text_bold Dark Shade 100%
    |#1F2041

mixin item-colors(color, descr, value)
  .colors
    div(class!=attributes.color).colors__squares
    .colors__text
      .colors__text_bold=descr
      span=value    