//- используем макет(шаблон)main.pug в качестве основы
extends ../../components/base/layout/main

//- опишем константы для текущей страницы
block variables
  - var title = 'Colors & Type'

block content
  .content-wrapper_two-columns
    .colors_wrapper
      +item-colors(colors__squares_shade100,'Dark Shade 100%', '#1F2041')(color!='colors__squares_shade100')
      +item-colors(colors__squares_shade100,'Dark Shade 75%', '#1F2041')(color!='colors__squares_shade75')
      +item-colors(colors__squares_shade100,'Dark Shade 50%', '#1F2041')(color!='colors__squares_shade50')
      +item-colors(colors__squares_shade100,'Dark Shade 25%', '#1F2041')(color!='colors__squares_shade25')
      +item-colors(colors__squares_shade100,'Dark Shade 5%', '#1F2041')(color!='colors__squares_shade5')
      +item-colors(colors__squares_shade100,'Purple', '#BC9CFF')(color!='colors__squares_purple')
      +item-colors(colors__squares_shade100,'Green', '#6FCF97')(color!='colors__squares_green')

    .type-wrapper
      +item-type(blockNumber, 'H1', textNumber, 'This one is the sub-section or widget title')(blockNumber!='type__block-1')(textNumber!='type__text-1')
      +item-type(blockNumber, 'H2', textNumber, 'Next one is the item title inside widgets')(blockNumber!='type__block-2')(textNumber!='type__text-2')
      +item-type(blockNumber, 'H3', textNumber, 'This is a label or CTA text')(blockNumber!='type__block-3')(textNumber!='type__text-3')
      +item-type(blockNumber, 'Body', textNumber, 'This is the body text which is used for most of the design, like paragraphs, lists, etc.')(blockNumber!='type__block-4')(textNumber!='type__text-4')

//- include blocks/type/type